.post {
    width: 35%;
    margin: 4rem auto;
    border-bottom: 2px solid lightgrey;
}

.post>* {
    margin: 2rem;
}

.post .header-content {
    margin: -5px 10px;
    font-size: 1.8rem;
}

.post .header-content span {
    padding: 0 8px;
    font-size: 1.7rem;
    color: #737373;
}



.post img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.post header .image {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
}

.post header .logo {
    padding: 2.5px;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 8px 0 0, 0 -8px 0 0;
    margin-left: auto;
}

.post .image {
    height: 350px;
}

.post .svgs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post .svgs svg {
    stroke: #333;
    fill: #333;
    width: 25px;
    height: 20px;
    transition: 500ms;
    cursor: pointer;
}


.post .svgs svg:last-child {
    margin-left: auto;
}

.post .svgs svg:hover {
    fill: red;
    opacity: 0.7;
}

.post .content {
    margin: -5px 20px;
}

.content-like-count {
    font-size: 1.5rem;
}

.hashtags {
    font-size: 1.5rem;
}

.detail {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem 0;
    font-size: 1.4rem;
}



.comment {
    font-size: 1.3rem;
}

.post .content span {
    color: #00376b;
    cursor: pointer;
    margin-left: 5px;
}

.post .comments {
    color: #bbb;
}

.post .comments .add-comment {
    display: flex;
    align-items: center;
    margin: 5px 0 10px;
}

.post .comments .add-comment img {
    width: 5rem;
    height: 4rem;
    border-radius: 50%;
}

.post .comments .add-comment input {
    margin-left: 5px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    width: 100%;
    background: #0001;
    padding: 20px;
    font-size: 1rem;
    text-transform: capitalize;
    height: 30px;
}


@media only screen and (max-width : 1000px) {
    .post {
        width: 50%;
    }
}

@media only screen and (max-width : 1200px) {
    .post {
        width: 60%;
    }
}

@media only screen and (max-width : 800px) {
    .post {
        width: 100%;
    }
}